/slskd_config
/music_downloads
/venv
/logs
/data
/slskd_config/
__pycache__/
music_dowloads/Changeline - teardrops.on.a.book.page/05 - i.deserve.it.flac
music_dowloads/Changeline - teardrops.on.a.book.page/06 - SHINE.GIRLYPOP.flac
music_dowloads/teardrops.on.a.book.page (2024)/01. wasirapedthatnight.flac
music_dowloads/teardrops.on.a.book.page (2024)/02. brain.fog.flac
music_dowloads/teardrops.on.a.book.page (2024)/03. don't.get.hit.flac
music_dowloads/teardrops.on.a.book.page (2024)/04. bad.person.music.flac
music_dowloads/teardrops.on.a.book.page (2024)/05. i.deserve.it.flac
music_dowloads/teardrops.on.a.book.page (2024)/06. SHINE.GIRLYPOP.flac
music_dowloads/teardrops.on.a.book.page (2024)/07. everything.everywhere.and.fuck.u.flac
music_dowloads/teardrops.on.a.book.page (2024)/cover.jpg
